body{
    background-color: #f1e4e89d;
}

#carosello{
    width: 40%;
    height: 40%;
}

#Carte{
    width: 50%;
    height: 50%;
}

.carousel-control-prev,
.carousel-control-next{
    background-color: #e2dcde2a;
};


.carousel-indicators li {
    background-color: #e2dcde3b;
};

input {
    width: 30%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
  }

h2 {
color: #2d2d34;
}

h3 {
    color: #2d2d34;
    }

p  {
    color: #2d2d34;
}

.backhome {
    color: #b97375;
    }

